@use 'reset';
@use 'variables/global';
@use 'themes/normal';
@use 'themes/dark';

.app {
  font: var(--font-m);

  background: var(--bg-color);
  color: var(--primary-color);

  min-height: 100vh;
}

.content-page {
  display: flex;
  gap: 20px;
  width: 100%;
}

.page-wrapper {
  flex: 1;
  min-width: 0;
  padding: 20px;
}
